body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.layout__form {
  display: flex;
  align-items: center;
}

.layout__form .MuiInput-root {
  margin-right: 10px;
  min-width: 400px;
}